// Global default params, used in configs
params {
  // pipeline version
  version = "v1"

  // Input options
  input = null
  barcode_path = "/research/groups/northcgrp/home/common/Vincentius/pipelines/scmethylseq/testdata/testumi/barcodes.txt"
  
  // Output options
  outdir = "result"
  
  // fastp config
  adapter_sequence="AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
  adapter_sequence_r2="AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
  trim_front=15
  trim_tail=5
  
  // reference for biscuit
  genome_ref = "/research/groups/northcgrp/home/common/Vincentius/resources/references/hg38/hg38.fa"
  
  // reference for methylctools 
  genome_ref_conv = "/research/groups/northcgrp/home/common/Vincentius/resources/references/hg38/methylctools/hg38.conv.fa"
  genome_cpos = "/research/groups/northcgrp/home/common/Vincentius/resources/references/hg38/methylctools/hg38.pos.gz"
}

process {
    executor = 'local'

    withLabel: process_med {
        cpus = 1
        memory = '8 GB'
    }

    withLabel: process_high {
        cpus = 2
        memory = '32 GB'
        time = '48h'
    }
}

profiles {
    // conda needs to be enabled in the new nextflow version
    conda.enabled = true
}
